<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment (title, otherStaticResources, header, nav, mainContent, footer)">
<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="/static/main.css"/>
</head>
<body>
<header >
    <h2>Welcome to Hotel manager</h2>
</header>
<section>
        <ul>
            <li><a href="/registration" style="font-size: 35px; text-decoration: none">Registration</a></li>
            <li><a href="/login" style="font-size: 35px; text-decoration: none">Login</a></li>
        </ul>
</section>
</body>
</html>