<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="/css/common.css" rel="stylesheet">
</head>

<body>
<div class="d-flex justify-content-center">
    <form method="POST" modelAttribute="userForm">
        <h2>Регистрация</h2>
        <div>
            <label>
                <input type="text" path="firstName" placeholder="First Name"/>
            </label>
            <errors path="username"></errors>
        </div>
        <div>
            <label>
                <input type="text" path="secondName" placeholder="Second Name"/>
            </label>
            <errors path="username"></errors>
        </div>
        <div>
            <label>
                <input type="text" path="passport" placeholder="Passport"/>
            </label>
            <errors path="passport"></errors>
        </div>
        <div>
            <label>
                <input type="text" path="email" placeholder="email"/>
            </label>
            <errors path="email"></errors>
        </div>
        <div>
            <label>
                <input type="text" path="phoneNumber" placeholder="phoneNumber"/>
            </label>
            <errors path="phoneNumber"></errors>
        </div>
        <div>
            <label>
                <input type="text" path="login" placeholder="login"/>
            </label>
            <errors path="login"></errors>
        </div>
        <div>
            <label>
                <input type="password" path="password" placeholder="Password"/>
            </label>
        </div>
        <div>
            <label>
                <input type="password" path="passwordConfirm"
                       placeholder="Confirm your password"/>
            </label>
            <errors path="password"></errors>

        </div>
        <button type="submit">Зарегистрироваться</button>
        <div class="d-flex justify-content-center">
        <a href="/main">Главная</a>
        </div>
    </form>
</div>
</body>
</html>