<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Create user</title>
<body>
<form action="#" th:action="@{/updatedRoom}" th:object="${RoomDto}" method="post">
    <br/>
    <label for="numberOfRoom">Room number</label>
    <input type="number" th:field="*{numberOfRoom}" id="numberOfRoom" placeholder="Room number" required>
    <br/>
    <label for="accommodation">Accommodation</label>
    <input type="text" th:field="*{accommodation}" id="accommodation" placeholder="accommodation" required>
    <br/>
    <label for="comfort">Comfort</label>
    <input type="text" th:field="*{comfort}" id="comfort" placeholder="Comfort" required>

    <input type="submit" value="Update Room">
</form>
<form method="get" th:action="@{/all-hotels}">
    <button type="submit">Back </button>
</form>
</body>
</html>