<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All hotels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">numberOfRoom</th>
            <th scope="col">accommodation</th>
            <th scope="col">comfort</th>
            <th scope="col">status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room: ${rooms}">
            <td th:text="${room.id}"></td>
            <td th:text="${room.numberOfRoom}"></td>
            <td th:text="${room.accommodation}"></td>
            <td th:text="${room.comfort}"></td>
            <td>FREE</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/allbooking}" class="btn btn-success">Back to bookings</a>
</div>
</body>
</html>